// ---------------------------------------------------------
// Main
// ---------------------------------------------------------

@use 'libs';
@use 'layouts';
@use 'components' as c;
@use 'global' as *;
@use 'pages';

html{
    background: #f3f3f3;
    font-family: 'Inter', sans-serif;
}   

body{
    &::-webkit-scrollbar {
        display: none;
    }
}

.material-icons-round{
    user-select: none;
}

